---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "TestCaseCraft",
    description:
      "Proyecto de titulación el cual consiste en generar casos de prueba funcionales a partir de casos de uso mediante el uso de la Inteligencia Artificial",
    url: "https://testcasecraftunl.vercel.app/",
    imageUrl: "/logo.svg",
    projectUrl: "",
    tags: ["React Native", "Firebase", "Mobile"],
  },
];
---

<section id="projects" class="py-20">
  <h2 class="text-3xl font-bold text-center mb-12">PROYECTOS</h2>
  <div class="flex flex-col gap-8">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          imageUrl={project.imageUrl}
          projectUrl={project.projectUrl}
          tags={project.tags}
        />
      ))
    }
  </div>
</section>
