---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "TestCaseCraft",
    description:
      "Proyecto enfocado en la Calidad del Software, el cual consiste en generar casos de prueba funcionales a partir de casos de uso mediante el uso de la Inteligencia Artificial",
    imageUrl: "/testcasecraft.png",
    projectUrl: "https://testcasecraftunl.vercel.app/",
    tags: ["Next.js", "Nest.js", "Postgres", "Prisma", "API Cohere", "Nodemailer"],
  },
  {
    title: "Castillo Clínica Dental",
    description:
      "Proyecto elaborado para una Clínica dental, la que requería mostrar su escencia en una página web.",
    imageUrl: "/dental.png",
    projectUrl: "https://castilloclinicadental.netlify.app/",
    tags: ["Astro", "Node.js", "Netlify", "Tailwind"],
  },
  {
    title: "Mini Games",
    description:
      "Proyecto de universidad hecho en Java, que presenta dos juegos de habilidad mental: El Ahorcado y Pares, estos juegos son editables, por lo que se puede agregar niveles, gestionar el nivel por completo e incluye una sección de música",
    imageUrl: "/minigames.png",
    projectUrl: "https://github.com/JuanCE7/MiniGames-in-JavaFX",
    tags: ["Java", "Java FX", "MySQL", "MariaDB", "XAMP"],
  },
  {
    title: "Sistema de Gestión de Ventas para Negocio",
    description:
      "Proyecto de universidad hecho en Java, que presenta una aplicación completa de gestión de ventas, donde se maneja el inventario, productos, facturas, usuarios, clientes, sesiones y diferentes roles",
    imageUrl: "/market.png",
    projectUrl: "https://github.com/JuanCE7/Sistema-de-Facturaci-n-JJ-Java",
    tags: ["Java", "Java FX", "MariaDB", "XAMP"],
  },
];
---

<section id="projects" class="py-20">
  <h2 class="text-3xl font-bold text-center mb-12">PROYECTOS</h2>
  <div class="flex flex-col gap-8">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          imageUrl={project.imageUrl}
          projectUrl={project.projectUrl}
          tags={project.tags}
        />
      ))
    }
  </div>
</section>
