---
import ProjectCard from "./ProjectCard.astro";
const { t } = Astro.props;

const projects = [
  {
    title: t("projects.testcase.title"),
    description: t("projects.testcase.description"),
    imageUrl: "/testcase.png",
    projectUrl: "https://testcasecraftunl.vercel.app/",
    tags: [
      "Next.js",
      "Nest.js",
      "Postgres",
      "Prisma",
      "API Cohere",
      "Nodemailer",
      "Supabase",
      "Vercel",
    ],
  },
  {
    title: t("projects.dental.title"),
    description: t("projects.dental.description"),
    imageUrl: "/dental.png",
    projectUrl: "https://castilloclinicadental.netlify.app/",
    tags: ["Astro", "Node.js", "Netlify", "Tailwind"],
  },
  {
    title: t("projects.angular.title"),
    description: t("projects.angular.description"),
    imageUrl: "/angular.png",
    projectUrl: "https://angularcruddev.netlify.app/",
    tags: [
      "Angular",
      "Node.js",
      "Netlify",
      "Tailwind",
      "Render",
      "json-server",
      "PrimeNG",
    ],
  },
  {
    title: t("projects.sales.title"),
    description: t("projects.sales.description"),
    imageUrl: "/market.png",
    projectUrl: "https://www.youtube.com/watch?v=VBIS78X73vk",
    tags: ["Java", "Java FX", "MariaDB", "XAMP"],
  },
  {
    title: t("projects.megonline.title"),
    description: t("projects.megonline.description"),
    imageUrl: "/megonline.png",
    projectUrl: "https://megonline.coopmego.com/",
    tags: ["StoryBooks", "React.js", "HTML", "CSS", "Node.js", "Jenkins"],
  },
  {
    title: t("projects.minigames.title"),
    description: t("projects.minigames.description"),
    imageUrl: "/minigames.png",
    projectUrl: "https://github.com/JuanCE7/MiniGames-in-JavaFX",
    tags: ["Java", "Java FX", "MySQL", "MariaDB", "XAMP"],
  },
  {
    title: t("projects.gestiona.title"),
    description: t("projects.gestiona.description"),
    imageUrl: "/gestiona.png",
    projectUrl:
      "https://play.google.com/store/apps/details?id=com.coopmego.gestiona",
    tags: [".NET", "C#", "Javascript", "Sybase", "Postgres"],
  },
  {
    title: t("projects.club.title"),
    description: t("projects.club.description"),
    imageUrl: "/clubestudio.png",
    projectUrl:
      "https://www.youtube.com/watch?v=It3ghVwjpsY&list=PLiULZndoCzyp3cwol7_RmkPOyAgMZ_0Cy&index=2",
    tags: ["Java", "Java FX", "YouTube", "Juego", "SQL", "POO"],
  },
];
---

<section id="projects" class="py-20" data-aos="fade-up">
  <h2
    class="text-3xl font-bold text-center mb-12 transition-transform hover:scale-110 hover:text-primary-900"
  >
    {t("projects.title")}
  </h2>
  <div class="flex flex-col gap-8">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          imageUrl={project.imageUrl}
          projectUrl={project.projectUrl}
          tags={project.tags}
          t={t}
        />
      ))
    }
  </div>
</section>
